.js .field--widget-paragraphs {
  .draggable {
    .paragraph-top {
      align-items: center;
    }

    .drag-and-drop-arrows__wrapper {
      display: none;
    }
    .tabledrag-cell-content {
      display: flex;
      flex-flow: column nowrap;
      /* Force creating a new grid column at the beginning of the row. */
      grid-column-end: 1;

      .drag-and-drop-arrows__arrow {
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
        width: 23px;

        &::after {
          -webkit-mask-image: url(../images/arrow_down.svg);
          mask-image: url(../images/arrow_down.svg);
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: center center;
          mask-position: center center;
          -webkit-mask-size: 16px 16px;
          mask-size: 16px 16px;
          background-image: none;
          background-color: currentColor;
          content: "";
          display: inline-block;
          height: .5rem;
          padding-left: 1.5rem;
          width: .5rem;
        }

        &--up::after {
          -webkit-mask-image: url(../images/arrow_up.svg);
          mask-image: url(../images/arrow_up.svg);
          margin-bottom: calc(-1 * var(--tabledrag-handle-icon-size) / 4);
        }

        &:active::after,
        &:focus::after,
        &:hover::after {
          transform: scale(1.25);
        }

        &:focus {
          box-shadow: none !important;
          outline: none !important;

          &::before {
            border-radius: var(--base-border-radius);
            box-shadow: 0 0 0 var(--focus-border-size) var(--color-focus);
            content: "";
            display: block;
            height: var(--space-l);
            margin: 0 0.1em calc(-1 * var(--space-l)) 0.25em;
            outline: var(--outline-size) dotted transparent;
            width: var(--space-l);
          }
        }
      }
    }
  }
}
