<div class="carousel-item snap-start flex-none w-full">
	<div class="card w-full border-none">
		<div class="card-content p-0">
			<div class="carousel-content relative aspect-[16/9] w-full">
				{% if item.media is defined %}
					<div class="absolute inset-0">
						{{ item.media }}
					</div>
				{% endif %}
				<div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 text-white p-4 md:p-6">
					{% if item.title is defined %}
						<h3 class="text-xl md:text-3xl font-semibold mb-2">{{ item.title }}</h3>
					{% endif %}
					{% if item.summary is defined %}
						<p class="text-sm md:text-lg">{{ item.summary }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
