{# Sample newsletter markup #}
<div class="bg-gray-100 text-gray-900">
	<div class="py-8 lg:py-24 {{ modifier ?: 'container mx-auto px-8' }}">
		<div
			class="flex flex-col lg:space-y-8">

			{# Header Section #}
			<div class="flex flex-col justify-center">
				<h2 class="text-3xl font-semibold mb-4 sm:text-4xl">{{ title }}</h2>
				<div class="newsletter-summary">
					{{ summary }}
				</div>
			</div>

			{# Newsletter Form Section #}
			<div class="mt-6 lg:mt-0">
				<div class="md:w-3/4 xl:w-1/2">
					<div
						class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2">

						{# Email Input #}
						<input
						type="email" class="flex w-full rounded-md border border-input px-3 py-1 shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 flex-grow bg-white text-xl h-12" placeholder="Email Address" aria-label="Email Address" name="newsletter_email" required/>

						{# Submit Button #}
						<button class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow px-4 py-2 bg-gray-900 text-white hover:bg-gray-700 text-xl h-12" type="submit">
							Submit
						</button>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
